@model IEnumerable<Shoevintory.Models.Shoe>

@{
    ViewData["Title"] = "Index";
}

<h1>Shoes</h1>

<p>
    <a class="btn btn-primary"  asp-action="Create">Add Shoe</a>
</p>

<div class="container m-3">
    <div class="row m-3 ">
@foreach (var item in Model) 
{
    <div class="card" style="width: 18rem; height: 30rem; padding: 0px; margin: 10px;">
        <img class="card-img-top" style="width:100%;" src="@item.ImageUrl" alt="Card image cap">
        <div class="card-body">
         <h5 class="card-title">@item.Name</h5> 
            <h5 class="card-body">@item.Retail</h5>

           <div style="display:flex; position:fixed"> <a class="btn btn-primary" asp-route-id="@item.Id" asp-action="Edit">Edit</a> 
            <form asp-action="Delete" asp-route-id="@item.Id">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
            </div>
        </div>
    </div>
}
       </div>
    </div>

